@import url('https://fonts.googleapis.com/css?family=Francois+One|Raleway');

  body {
	height: 100%;
	width: 100%;

	background-color: #e0e0e0;
	color: #6b6666;
	padding: 1%;


}



.row {
	margin: 0;
	padding: 0;
}

.navbar-default {
	padding: 0.5%;
	padding-right: 5%;
	padding-left: 0.5%;
    color: black;
    font-weight: bold;
    font-size: 110%;
    margin: 0;
}

.dropdown-toggle {
	margin: 0;
	padding: 0;
}

#header {
	margin-top: 10%;
	font-family: Francois One;
	font-size: 700%;
	text-align: center;
}

#small-line {
	text-align: center;
	font-family: Raleway;
	font-weight: bold;
	font-size: 200%;
	
}


#info {
	margin: 5% 0;
	text-align: center;
	padding: 0 5% 5%;
	font-family: Raleway;
	font-size: 150%;
	
}

img {
	width:auto; 
	height: auto;
	z-index:2;
	border-radius: 50%;
	max-width: 235px;
	max-height:235px;
}


.left { 
	vertical-align:middle;
	text-align: center;
	border:  10px;
	margin-top: 1%;
	height: 35vh;
}

.right { 
	margin-top: 1%;
	height: 35vh;
	text-align: left;
	vertical-align: middle;
	padding-top: 5%;
	line-height: 1.5;
	font-family: Raleway;
	font-size: 200%;
	
}

a:hover {
	cursor: pointer;
    text-decoration: none;

}

@media screen and (max-width: 1196px) {

	#banner {
		padding: 17%;
	}

	#info {
		margin-top: 2%
	}
	
	
}

@media screen and (max-width: 1065px) {
	

	#banner {
		padding: 21%;
	}

}

@media screen and (max-width: 880px) {
	

	#banner {
		padding: 23%;
	}

}

@media screen and (max-width: 761px) {

	.navbar-default {
		padding: 0.5% 5%;
		background: #F8F8F8;
	}
	
	#navLogo {
		display: none;
	}

	#banner {
		background-image: url("img/friends.jpg");
		background-repeat: no-repeat;
		background-size: 40%;
		padding: 14%;
	}

	#landing-page-title {
		font-size: 400%;
	}
	
	#header {
		margin-top: 15%;
	}
	
	#title {
		margin-bottom: 5%;
	}


}



@media screen and (min-width: 1196px){
	#banner{
		padding: 15%;
	}
	
	#info{
		margin-top: 0%;
	}
}

}