@import url('https://fonts.googleapis.com/css?family=Francois+One|PT+Mono|Space+Mono|Poppins');

 body {
	height: 100%;
	width: 100%;
	background-color: #e0e0e0;
	color: #6b6666;
	
}


.row {
	margin: 0;
	padding: 0;
}

.navbar-default {
	padding: 0.5%;
	padding-right: 5%;
	padding-left: 0.5%;
	
    font-weight: bold;
    font-size: 110%;
    margin: 0;
}


#banner {
	background-image: url("img/Icon-title.png");
	background-repeat: no-repeat;
	background-position: center;
	padding: 15%;
	margin-top: 6%;
}


#overlay1 {
	text-align: center;
	position: 0;
}


#landing-page-title {
	font-family: Francois One;
	font-size: 700%;
}

#title {
	margin-bottom: 5%;
}

#overlay1 span {
	font-size: 150%;
}

#small-line {
	text-align: center;
	font-weight: bold;
	font-size: 200%;
	
}



#overlay2 {
	margin: 5% 0;
	text-align: center;
	padding: 0 5% 5%;
	font-size: 150%;
	
}



a:hover {
	cursor: pointer;
    text-decoration: none;

}

@media screen and (max-width: 1196px) {

	#banner {
		padding: 18%;
		margin-top: 6%;
	}

	
}

@media screen and (max-width: 1065px) {
	

	#banner {
		padding: 21%;
		margin-top: 8%;
	}

}

@media screen and (max-width: 880px) {
	

	#banner {
		padding: 25%;
		margin-top: 10%;
	}

}

@media screen and (max-width: 761px) {
	

	.navbar-default {
		padding: 0.5% 5%;
	}
	
	#navLogo {
		display: none;
	}

	#banner {
		background-size: 40%;
		padding: 25%;
		margin-top: 15%;
	}

	#landing-page-title {
		font-size: 400%;
	}
	
	#title {
		margin-bottom: 5%;
	}

	#overlay1 span {
		font-size: 130%;
	}

	#small-line {
		font-size: 150%;
	}

	#overlay2 {
		margin: 5% 0;
		padding: 0 5% 5%;
		font-size: 120%;
	}

}
