@import url('https://fonts.googleapis.com/css?family=Francois+One|PT+Mono|Space+Mono|Poppins');


/* this is css that separates the two halves*/
html, body, section, div {
  height: 100%;

}



body {
  background-image: url("img/login-dev-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: overlay;
  


  background-color: #e8e9ea;
	color: #6b6666;
  position: relative;
}

#login-box {

  background-color: #f4f4f4;

  width: 36vw;
  height: 78vh;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: 20px;
  text-align: center;
  transform: translate(-50%, -50%);

}


#bottom-text {


  text-align: justify;
  font-size: 1rem;
  margin-top: 20%;

}

h1 {
  font-size: 3.5rem;
  padding-top: 4px;
  color:#777777;
}

h2 {
  font-size: 1.5rem;
  color: #828282;
  margin-bottom: 15%;
}

.buttons {
  border: none;
  text-align: left;
  padding: 10px;
  width: 80%;
  height: 10%;

  margin: 3px;
  color: white;
  vertical-align: middle;
  font-size: 1.5rem;

}

.icons {
  padding-right: 20px;
  padding-left: 3%;
  text-align: center;
  vertical-align: middle;
  margin-bottom: 10px;
  margin-top: -3px;

}






/*this is the part with the navbar*/
.navbar-default {
  padding: 0.5%;
	padding-right: 5%;
	padding-left: 0.5%;

    font-weight: bold;
    font-size: 110%;
    margin: 0;
}
.dropdown-toggle {
	margin: 0;
	padding: 0;
}

.control-label {
  color: #787674;
}








/*adding the media screen resizing to match homepage. */

@media screen and (max-width: 1196px) {

	#banner {
		padding: 18%;
		margin-top: 6%;
	}

}
@media screen and (max-width: 1178px) {

	#login-box {
    width: 40vw;
  }

   h1 {
     font-size: 3.4rem;
   }

}


@media screen and (max-width: 1065px) {
	#banner {
		padding: 21%;
		margin-top: 8%;
	}
  #login-box {
    width: 43vw;
  }

  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 1.2rem;
  }

}

@media screen and (max-width: 880px) {

	#banner {
		padding: 25%;
		margin-top: 10%;
	}
  #login-box {
    width: 46vw;
  }

  h1 {
    font-size: 2.8rem;
  }
  h2 {
    font-size: 1rem;
  }

}

@media screen and (max-width: 761px) {

	body {

	}
	.navbar-default {
		padding: 0.5% 5%;
		background: #F8F8F8;
	}


	#banner {
		background-image: url("img/IconWhite.png");
		background-repeat: no-repeat;
		background-size: 40%;
		padding: 15%;
		margin-top: 20%;
	}

	#landing-page-title {
		font-size: 400%;
	}

	#title {
		margin-bottom: 5%;
	}

	#overlay1 span {
		font-size: 130%;
	}

	#small-line {
		font-size: 150%;
	}

	#overlay2 {
		margin: 5% 0;
		padding: 0 5% 5%;
		font-size: 120%;
	}

  #login-box {
    background-color: #e8e9ea;
    width: 100vw;
    border: none;
  }

  .right-half {
    width: 100vw;

  }

  h2 {
    font-size: 1.3rem;


  }

  h1 {
    font-size: 3.5rem;
    padding-left: -20px;
    padding-right: -20px;

  }


  .navbar-default {
		padding: 0.5% 5%;
		background: #F8F8F8;
	}

	#navLogo {
		display: none;
	}

}


@media screen and (max-width: 404px) {

  h1 {
    font-size: 3rem;
    padding-left: -20px;
    padding-right: -20px;

  }

  h2 {
    font-size: 1.1rem;


  }

<<<<<<< HEAD
}
=======
}
>>>>>>> control-f/master
