@import url('https://fonts.googleapis.com/css?family=Francois+One|Raleway');

.navbar-default {
	padding: 0.5%;
	padding-right: 5%;
	padding-left: 0.5%;
    font-weight: bold;
    font-size: 110%;
    margin: 0;
}


 body {
	height: 100%;
	width: 100%;
	background-color: #e0e0e0;
	color: #6b6666;
	padding: 1%;
}

h1 {
	font-family: Raleway;
	font-size: 300%;
	text-align: left;
	padding-top: 8%;
	padding-left: 3%;
	font-weight: bold;
}

p {
	font-family: Raleway;
	font-size: 250%;
	text-align: center;
}

#result-table {
	display: none;
}

label {
	margin-left: 3%;
}

#projtype {
	margin-top: 1%;
}

#why {
	width: 50%;
}

#preview {
 margin-left: 40%;
}

input[type=text] {
    width: 90%;
    padding: 10px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    margin-left: 3%;
}

a .action_box {
	text-decoration: none;
}

button {
	text-align: center;
	background-color: #4ec996;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin-top: 3%;
    margin-left: 3%;
    cursor: pointer;
}


@media screen and (max-width: 761px) {

	#submit {
		margin-left: 40%;
	}

}

@media screen and (max-width: 561px) {

	.left {
		padding-top: 9%;
		padding-bottom: 0%;
	}

}


@media screen and (min-width: 900px){
	.left{
		padding-top: 4%; 
		padding-bottom: 20%;
	}
}



}







