@import url('https://fonts.googleapis.com/css?family=Francois+One|Raleway');

.navbar-default {
	padding: 0.5%;
	padding-right: 5%;
	padding-left: 0.5%;
    font-weight: bold;
    font-size: 110%;
    margin: 0;
}


 body {
	height: 100%;
	width: 100%;
	background-color: #e0e0e0;
	color: #6b6666;
	padding: 1%;
}

#readOnly {
    margin: 100px auto 50px;
}

.comp {
	display: none;
}

.dev {
	display: inline;
}

#result-table {
	display: none;
	
}